<!-- JavaScript -->
<script>
	import { slide } from './slide'
	export let buttonText = ''
	export let isOpen = false
	export let style = ''
</script>

<!-- HTML -->
<div {style}>
	<button on:click={() => (isOpen = !isOpen)}>
		<h3 style="margin:2px">
			{buttonText}
			<span class:isOpen>▲</span>
		</h3>
	</button>
	<div class="accordion-content" use:slide={{isOpen, duration: 300}}>
		<div class="wrapper">
			<slot />
		</div>
	</div>
</div>

<!-- CSS -->
<style>
	.wrapper {
		padding: 1px;
	}
	button {
		display: block;
		border: 0;
		width: 100%;
		text-align: left;
		margin: 0;
		background-color: var(--accordionButtonColor, #ddd);
		color: var(--accordionButtonTextColor, #000)
	}
	span {
		margin-right: 5px;
		display: inline-block;
		transform: rotate(0.25turn);
		transition: transform 0.2s ease;
	}
	.isOpen {
		transform: rotate(0.5turn);
	}
	.accordion-content {
		border: 0;
		margin: 0;
		margin-left: 5px;
		margin-right: 5px;
		color: var(--accordionTextColor, #000);
	}
</style>