<!-- JavaScript -->
<script>
	export let label = ''
	export let instructions = ''
	export let style = ''
	export let value
	export let placeholder
	export let type = 'text'

	function handleInput(event) {
		value = type.match(/^(number|range)$/) ? event.target.value : event.target.value
		console.log(value)
	}
</script>

<!-- HTML -->
<div {style}>
	<label>
		{#if label}
			<span>
				{label}
			</span>
			<br>
		{/if}
		{#if instructions}
			<span class="instructions">
				{instructions}
			</span>
			<br>
		{/if}
		<!-- if type is a prop, value cannot be bound so bind:value won't work; this is a workaround -->
		<input on:input={handleInput} {type} {value} {placeholder} />
	</label>
</div>

<!-- CSS -->
<style>
	.instructions {
		opacity: 0.8;
		font-size: var(--instructionsFontSize, 12px);
	}
	div {
		margin-bottom: 1rem;
	}
	input {
		width: 100%;
	}
</style>