<!-- JavaScript -->
<script>
	export let items
	export let searchingFor
	export let placeholderInput
	export let style = ''
	let search = ''

	$: filteredSearch = items.filter((item) => {
		return (search === '') || (item.toLowerCase().indexOf(search.toLowerCase()) !== -1)
	})
</script>

<!-- HTML -->
<div class="wrapper" {style}>
	<label>
		Search {searchingFor}: <br>
		<input
			bind:value={search}
			type="text"
			placeholder={placeholderInput}
		/>
	</label>
	<ul>
		{#each filteredSearch as item}
			<li on:click={() => {search = item}}
				on:keypress
				class="single_word_item"
			>
				{item}
			</li>
		{/each}
	</ul>
</div>

<!-- CSS -->
<style>
	.single_word_item {
		text-transform: capitalize;
	}
	.wrapper {
		position: relative;
		display: inline-block;
		background: var(--searchFilterBackground, #ddd);
		padding: 0;
		color: var(--searchFilterTextColor, #000);
	}
	label {
		padding: 5px;
	}

	input {
		background: var(--searchFilterBackground, #ddd);
		width: 100%;
		border: solid 1px var(--searchFilterBorderColor, #333);
		padding: 2px;
		color: var(--searchFilterTextColor, #000);
	}
	input:focus {
		outline: 0;
		background: var(--searchFilterFocusedBackground, #eee);
		padding: 1px;
		border: solid 2px var(--searchFilterBorderColor, #333);
	}
	input::placeholder {
		color: var(--searchFilterInputPlaceholderText,#666);
	}

	ul {
		position: absolute;
		width: 100%;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		padding: 2px;
		background: var(--searchResultsItemBackground, #fff);
		color: var(--searchResultsItemTextColor, #000);
	}
	li:hover {
		background: var(--searchResultsItemHoverBackground, #eee);
	}
</style>
