<!-- JavaScript -->
<script>
	export let isToggled = false
	export let label = ''
	export let style = ''
</script>

<!-- HTML -->
<label {style}>
	<input type="checkbox" bind:checked={isToggled}/>
	<div class="toggle"/>
	{#if !isToggled}
		{label}?
	{:else}
		{label}.
	{/if}
</label>

<!-- CSS -->
<style>
	label {
		--width: 40px;
		--height: calc(var(--width) / 2);
		--radius: calc(var(--height) / 2);
		display: flex;
	}
	.toggle {
		position: relative;
		width: var(--width);
		height: var(--height);
		border-radius: var(--radius);
		border: solid 1px var(--toggleBorderColor, var(--toggleBorderColor, #333));
		transition: background-color 0.2s ease;
		margin-right: 5px;
		background-color: var(--toggleUncheckedColor, #fff);
	}
	.toggle::after {
		content: "";
		position: absolute;
		top: -1.5px;
		left: -1.5px;
		height: calc(var(--height) + 1px);
		width: calc(var(--height) + 1px);
		border-radius: calc(var(--radius) + 1.5px);
		background-color: var(--toggleButtonColor, rgba(10, 132, 255, 1));
		box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
		transition: transform 0.2s ease;
		border: solid 1px var(--toggleBorderColor, #333);
	}
	input:checked + .toggle {
		background-color: var(--toggleCheckedColor, rgba(10, 132, 255, 0.8));
	}
	input:checked + .toggle::after {
		transform: translate3d(var(--height),0,0);
	}
	input {
		display: none;
	}
</style>