<script>
	// imports
	import Toggle from '$lib/Toggle.svelte'
	import Accordion from '$lib/Accordion.svelte'
	import SearchFilter from '$lib/SearchFilter.svelte';
	import Field from '$lib/Field.svelte';

	// lets
	let toggleOption1 = false
	let toggleOption2 = false
	let toggleOption3 = false
	let WOT_royalty = [
		'Gaebril',
		'Thom',
		'Gareth',
		'Morgase',
		'Elayne',
		'Gawyn',
		'Galad',
	]
	let searchingFor_WOT = 'Andoran Royal Lineage'
	let placeholderInput_WOT = 'Andoran Royal'

	let UWZ_markers = [
		'Emek',
		'Etha',
		'TMC',
		'FT-12',
	]
	let searchingFor_UWZ = 'Paintball Markers'
	let placeholderInput_UWZ = 'Marker Name'

	let search = ''
</script>

<h1>Welcome to my testing site!</h1>

<h3>Toggles</h3>
<Toggle bind:isToggled={toggleOption1} label="Default Styling Toggle" />
<Toggle bind:isToggled={toggleOption2} label="UWZ Toggle"
	style="--toggleUncheckedColor: #333;
	--toggleCheckedColor: var(--yellow);
	--toggleButtonColor: var(--green);
	--toggleBorderColor: var(--dark_steel);" />
<Toggle bind:isToggled={toggleOption3} label="Alt UWZ Toggle"
	style="--toggleUncheckedColor: var(--dark_steel);
	--toggleCheckedColor: var(--green);
	--toggleButtonColor: #333;
	--toggleBorderColor: var(--aluminum);" />
<br>

<h3>Accordion</h3>
<Accordion buttonText="Default Styling">
	<div>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus sunt, earum molestiae aspernatur, dignissimos illo expedita optio recusandae amet in iste doloribus aliquam. Quis ut accusamus cupiditate deserunt sunt qui. <br>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit animi aperiam totam ipsa vel itaque qui, illum nisi atque officiis esse incidunt dignissimos! Nisi, voluptate optio minima ex accusantium tenetur? <br>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam, atque eaque eos labore, quam nemo voluptatum quod provident delectus facere, reiciendis maxime distinctio minima suscipit deleniti sunt ad beatae quas? <br>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem maiores provident recusandae assumenda tenetur, iste at voluptatibus, error est qui fugiat ab, esse quod placeat minus veritatis doloremque officiis vitae? <br>
		</p>
	</div>
</Accordion>
<Accordion buttonText="UWZ Styling" style="
	--accordionButtonTextColor: var(--yellow);
	--accordionButtonColor: var(--green);
	--accordionTextColor: var(--aluminum);
	background-color: var(--dark_steel)">
	<div>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto libero delectus, facilis nesciunt minus in voluptate iste quia accusantium vero sint illo dolorem ipsum eligendi suscipit? Vel odit corporis sapiente. <br>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta similique rem omnis libero, soluta itaque sit natus asperiores et suscipit! Nisi vitae reprehenderit ipsam voluptates quibusdam dolore eius consequatur corporis. <br>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem laudantium fugiat eius deserunt, unde repellat sed, libero molestiae quae quo quibusdam. Magnam nesciunt suscipit dolores nobis commodi minima aperiam placeat. <br>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique explicabo voluptatum obcaecati! Blanditiis delectus nobis dignissimos ipsam odit aliquam doloribus iste minus optio sequi dolorem corrupti quibusdam, excepturi nesciunt qui. <br>
		</p>
	</div>
</Accordion>

<div style="display: flex;">
	<div style="width: 100%;">
		<Field
			bind:value={search}
			placeholder='Value'
			style="width: 100%"
		/>
	</div>
	<div style="width: 10px"/>
	<div style="width: 500px">
		{search}
	</div>
</div>

<SearchFilter items={WOT_royalty} searchingFor={searchingFor_WOT} placeholderInput={placeholderInput_WOT} />
<SearchFilter
	items={UWZ_markers}
	searchingFor={searchingFor_UWZ}
	placeholderInput={placeholderInput_UWZ} 
	style="
	--searchFilterBackground: var(--green);
	--searchFilterBorderColor: var(--dark_steel);
	--searchFilterFocusedBackground: var(--dark_green);
	--searchResultsItemBackground: var(--dark_steel);
	--searchResultsItemHoverBackground: #333;
	--searchFilterTextColor: var(--yellow);
	--searchFilterInputPlaceholderText: var(--aluminum);
	--searchResultsItemTextColor: var(--aluminum);
	" 
/>
